<div class="mini-card">
  <%= image_tag job.logo %>
  <div class="mini-card-infos">
    <h2><%= link_to job.title, "", {'data-toggle' =>  "modal", 'data-target' => "#modal-window#{job.id}", 'data-id' => job.id} %></h2>
    <div class="">
      <p><%= job.description %></p>
    </div>
    <div class="trash">
      <% if favorite %>
        <%= link_to favorite_path(favorite), method: :delete do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% else %>
        <%= link_to mission_path(mission), method: :delete do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "jobs/modal.html.erb", job: job %>

