<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-3">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "PROFIL", profil_path(current_user), class: "animoBorderLeftRight" %>
        </li>
        <li class="nav-item">
          <%= link_to "DÉCONNEXION", destroy_user_session_path,
              :class => "animoBorderLeftRight",
              :data => {:confirm => "Oh... Vous partez déjà ?",
               method: :delete,
              :class => "alert alert-warning"} %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "CONNEXION", new_user_session_path, class: "nav-item" %>
        </li>
      <% end %>
      </li>
    </ul>
  </div>
</div>

