
<div class="job-container mb-3">
  <div class="upper-side d-flex justify-content-around">
    <div class="job-logo">
      <% if job.logo == "" %>
        <%= image_tag "missing_logo.png" %>
      <% else %>
        <%= image_tag job.logo %>
      <% end %>
    </div>
      <div class="text-elements flex-column">
        <h4 class="job-title text-center"><%=job.title%></h4>
        <p class="job-description text-center"><%=job.description%></p>
      </div>
  </div>
  <div class="lower-side d-flex justify-content-around mt-3">
    <div class="location"><i class="fas fa-map-marker-alt"></i> <%=job.zip_code_and_city %></div>
    <%= link_to '> Détails', "",  {'data-toggle' =>  "modal", 'data-target' => "#modal-window#{job.id}", 'data-id' => job.id, class: 'btn btn-flat'}  %>
  </div>
</div>

<%= render "jobs/modal.html.erb", job: job %>
