<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= @job.title %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="modal-content-header d-flex align-middle">
    <div class="job-photo-modal">
      <% if @job.logo == "" %>
        <%= image_tag "missing_logo.png" %>
      <% else %>
        <%= image_tag @job.logo %>
      <% end %>
    </div>
    <div class="modal-content-header align-middle ml-6">
      <div class="title_job text-center">
        <div><%= @job.name %> recherche quelqu'un à partir du <strong><%= @job.start_parsed %></strong>
          jusqu'au <strong><%= @job.end_parsed %></strong>
        </div>
        <div class="contact-info pl-3 pr-3">
          <div class="contact-info-title">
            <p>Infos contact :</p>
          </div>
          <div class="contact-info-content d-flex justify-content-between">
            <p>Email: </p>
            <p><%= @job.email_display.to_s %></p>
          </div>
          <div class="contact-info-content d-flex justify-content-between">
            <p>Tel: </p>
            <p><%= @job.telephone.to_s %></p>
          </div>
          <div class="contact-info-content d-flex justify-content-between">
            <p>Adresse: </p>
            <p><%= @job.address %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-content-modals mt-3">
    <h3>Description</h3>
    <div class="pre-scrollable">
      <p><%= simple_format(@job.content) %></p>
    </div>
  </div>
  <div class="job-footer-infos d-flex justify-content-around">
    <div class="address">
      <i class="far fa-map"></i>
      <p>Lieu de travail</p>
    </div>
    <div class="accommodation">
      <i class="fas fa-bed"></i>
      <% if @job.accommodation == false %>
        <p><%= 'Hébergement non inclus' %></p>
      <% else %>
        <p><%= 'Hébergement inclus' %></p>
      <% end %>
    </div>
    <div class="meal">
      <i class="fas fa-utensils"></i>
      <% if @job.meal == false %>
        <p><%= 'Repas non compris' %></p>
      <% else %>
        <p><%= 'Repas compris' %></p>
      <% end %>
    </div>
  </div>
<div class="modal-footer justify-content-around mt-3">

    <div class="mt-3"><%= link_to "Sauvegarder", job_favorites_path(job_id: @job.id), method: :post, :class => "btn-flat" %></div>
    <div class="mt-3"><%= link_to "Postuler", job_missions_path(@job), method: :post, :class => "btn-flat" %></div>

</div>
