<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= @job.title %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="modal-content-header d-flex align-middle">
    <div class="job-photo-modal">
      <% if @job.logo == "" %>
        <%= image_tag "missing_logo.png" %>
      <% else %>
        <%= image_tag @job.logo %>
      <% end %>
    </div>
    <div class="modal-content-header align-middle ml-6">
      <div class="title_job text-center">
        <div><%= @job.name %> recherche quelqu'un à partir du <strong><%= @job.start_parsed %></strong>
          jusqu'au <strong><%= @job.end_parsed %></strong>
        </div>
        <div class="contact-info pl-3 pr-3">
          <div class="contact-info-title">
            <p>Infos contact :</p>
          </div>
          <div class="contact-info-content d-flex justify-content-between">
            <p>Email: </p>
            <p><%= @job.email_display.to_s %></p>
          </div>
          <div class="contact-info-content d-flex justify-content-between">
            <p>Tel: </p>
            <p><%= @job.telephone_display.to_s %></p>
          </div>
          <div class="contact-info-content d-flex justify-content-between">
            <p>Adresse: </p>
            <p><%= @job.address %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-content-modals mt-3">
    <h3>Description</h3>
    <div class="pre-scrollable">
      <%= simple_format(@job.content) %>
    </div>
  </div>
  <div class="job-footer-infos d-flex justify-content-around">
    <div class="accommodation">
      <% if @job.accommodation == false %>
        <span class="fa-stack fa-2x" style="font-size: 16px;">
          <i class="fas fa-bed fa-stack-1x" style="color:Tomato"></i>
          <i class="fas fa-ban fa-stack-2x" style="color:grey"></i>
        </span>
        <p>Hébergement non inclus</p>
      <% else %>
        <i class='fas fa-bed' style="color:Tomato"></i>
        <p>Hébergement inclus</p>
      <% end %>
    </div>
    <div class="meal">
      <% if @job.meal == false %>
      <span class="fa-stack fa-2x" style="font-size: 16px;">
        <i class="fas fa-utensils fa-stack-1x" style="color:Tomato"></i>
        <i class="fas fa-ban fa-stack-2x" style="color:grey"></i>
      </span>
        <p>Repas non compris</p>
      <% else %>
        <i class="fas fa-utensils" style="color:Tomato"></i>
        <p>Repas compris</p>
      <% end %>
    </div>
  </div>
<div class="modal-footer justify-content-around mt-3">


    <div>
      <%= link_to "Sauvegarder", job_favorites_path(job_id: @job.id),
              onclick:"swal('Annonce sauvegardée !', 'Tu pourras la retrouver dans ton profil.', 'success')",
              method: :post,
              :id => "sweet-alert",
              :class => "btn-flat" %>
    </div>
    <div>
      <%= link_to "Postuler", job_missions_path(@job),
              onclick:"swal('Candidature envoyée !', 'On croise les doigts pour toi !', 'success')",
              method: :post,
              :id => "sweet-alert",
              :class => "btn-flat" %>
    </div>
</div>
