<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= @job.title %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="headers d-flex justify-content-around">
    <div class="job-photo">
      <% if @job.logo == "" %>
        <%= image_tag "missing_logo.png" %>
      <% else %>
        <%= image_tag @job.logo %>
      <% end %>
    </div>
    <div class="job-headers text-center">
      <div class="title_job d-flex justify-content-between mt-3">
        <div class="date-info d-flex">
          <div class="column">
            <div>
              <!-- <i class="far fa-calendar-plus"></i> -->
              <p>Début de contrat</p>
            </div>
            <div><p><%= @job.start_parsed %></p></div>
          </div>
          <div class="column">
            <div>
              <!-- <i class="far fa-calendar-plus"></i> -->
              <p>Fin de contrat</p>
            </div>
              <p><%= @job.end_parsed %></p>
          </div>
        </div>

        <div class="salary-info d-flex">
          <i class="fas fa-euro-sign"></i>
          <p><%= @job.salary.to_s + ' € par mois' %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="job-content-modals">
    <h3>Description</h3>
    <div class="pre-scrollable">
      <p><%= @job.content %></p>
    </div>
  </div>
  <div class="job-footer-infos d-flex justify-content-around">
    <div class="address">
      <i class="far fa-map"></i>
      <p> Lieu de travail</p>
    </div>
    <div class="accommodation">
      <i class="fas fa-bed"></i>
      <% if @job.accommodation == false %>
        <p><%= 'Hébergement non inclus' %></p>
      <% else %>
        <p><%= 'Hébergement inclus' %></p>
      <% end %>
    </div>
    <div class="meal">
      <i class="fas fa-utensils"></i>
      <% if @job.meal == false %>
        <p><%= 'Repas non compris' %></p>
      <% else %>
        <p><%= 'Repas compris' %></p>
      <% end %>
    </div>
    <div class="contact">
      <i class="far fa-id-card"></i>
        <div class="infos">
          <p><%= @job.email.to_s %></p>
          <p><%= @job.telephone.to_s %></p>
        </div>
    </div>
  </div>
<div class="modal-footer justify-content-around">

    <div>
      <%= link_to "Sauvegarder", job_favorites_path(job_id: @job.id),
              onclick:"swal('Annonce sauvegardée !', 'Tu pourras la retrouver dans ton profil.', 'success')",
              method: :post,
              :id => "sweet-alert",
              :class => "btn-flat" %>
    </div>
    <div>
      <%= link_to "Postuler", job_missions_path(@job),
              onclick:"swal('Candidature envoyée !', 'On croise les doigts pour toi !', 'success')",
              method: :post,
              :id => "sweet-alert",
              :class => "btn-flat" %>
    </div>
</div>
