<% if @jobs.empty? %>
  <div class="main full-screen pt-5">
    <div class="wrapper">
      <div class="row justify-content-around">
        <div class="col-xs-12 col-xl-6">
          <h1 class="my-5">
            Oups ! <br>
            Nous n'avons rien trouvé...
          </h1>
          <div class="d-flex justify-content-around">
            <div class="thumbnails">
              <%= link_to new_preference_path do %>
                <%= image_tag "aleatoire.png", class: "image" %>
              <% end %>
              <div class="title">
                Refaire le quizz ?
              </div>
            </div>
            <div class="thumbnails">
              <%= link_to job_path(Job.all.sample) do %>
                <%= image_tag "thoughtfull_girl.png", class: "image" %>
              <% end %>
              <div class="title">
                Choisir un job aléatoirement ?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="main">
    <div class="wrapper">
      <div class="d-flex">
        <div class="jobs-cards-and-title">
          <h1 class="my-5">
            Nous avons trouvé <span class="font-weight-bold text-warning"><%= @jobs.length %></span> jobs <br>
            qui peuvent te plaire!
          </h1>
          <div class="job-containers">
            <% @jobs.each do |job| %>
              <div class="m-auto">
                <%= render 'card', job: job %>
              </div>
            <% end %>
          </div>
        </div>
        <%= render 'components/map', markers: @markers %>
      </div>
    </div>
  </div>
<% end %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
