<!-- <header class="header__bg">
</header> -->
<div class="full-screen-profil">
  <div class="container-profile-show pt-4 pb-5">
    <div class="text-center">
      <h1> Bonjour <%= @user.first_name %> !</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="contact ">
          <div class="bio">
            <div class="photo-profil">
              <%= image_tag default_pic(@user) %>
              <p><%= @user.biograophy %></p>
            </div>
          </div>
          <div class="info-contact">
            <div class="info">
              <h4>Mes infos</h4>
              <p><i class="far fa-user"></i><%= @user.username %></p>
              <p><i class="far fa-envelope"></i><%= @user.email %></p>
              <p><i class="fas fa-flag"></i> Nationalité : <%= @user.nationality %></p>
              <p><i class="fas fa-birthday-cake"></i> <%= @user.age %> ans</p>
              <p><i class="fas fa-map-marker-alt"></i><%= @user.address %></p>
              <div class="cv">
                <% if @user == current_user && @user.cv.attached?  %>
                  <%= link_to "Voir mon CV", url_for(@user.cv), download: '', class: "button upload"%>
                <% elsif @user == current_user %>
                  <%= simple_form_for @user, url: profil_path, method: :patch do |f| %>
                    <%= f.file_field :cv, class: "form-control" %>
                    <%= f.button :submit, value: 'Télécharger', class: "button upload" %>
                  <% end %>
                <% elsif @user.cv.attached? %>
                  <%= link_to "Téléchargez le CV", url_for(@user.cv), download: '', class: "button upload"%>
                <% else %>
                  <p>Pas encore de CV téléchargé</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <% if current_user == @user %>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn favorite collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3><i class="fas fa-arrow-circle-right"></i>Mes candidatures</h3>
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="mission-jobs">
                    <% @missions.each do |mission| %>
                      <%= render "components/mini_card", job: mission.job, mission: mission, favorite: nil %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn favorite" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3> <i class="fas fa-heart"></i>Mes annonces sauvegardées </h3>
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="favorite-jobs">
                    <% if @favorites.nil? %>
                      <h3>Tu n'as aucune annonce de sauvegardée...</h3>
                      <h3><%= link_to "on s'y met?", new_preference_path %></h3>
                    <% else %>
                      <% @favorites.each do |favorite| %>
                        <%= render "components/mini_card", job: favorite.job, favorite: favorite, mission: nil %>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

          <% unless @user.work_experiences.blank? %>
            <div class="my-experiences">
              <h3><i class="fas fa-user-tie"></i>   Expériences professionnelles</h3>
              <p>Dernière expérience enregistrée</p>
              <div class="alumnus-experience">
                <div class="experience-img">
                  <%= image_tag @user.work_experiences.last.photo %>
                </div>
                <div class="experience-details">
                  <p class="experience-title"><%= @user.work_experiences.last.poste_intitulé %></p>
                  <p class="experience-corp-name"><%= @user.work_experiences.last.entreprise %>, <%= @user.work_experiences.last.durée %> mois</p>
                  <p class="experience-dates"><%= @user.work_experiences.last.description %></p>
                </div>
              </div>
              <button id="button-toogle-work-experiences" class="btn btn-flat deroulable d-flex justify-content-center mt-3">
                Voir toutes les expériences de <%= @user.first_name %>
              </button>
              <%= render "work_experiences/show" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</div>
