<!-- <header class="header__bg">
</header> -->
<div class="full-screen-profil">
  <div class="container-profile-show pt-4 pb-5">
    <div class="text-center">
      <h1> Bonjour <%= @user.first_name %> !</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="contact ">
          <div class="bio">
            <div class="photo-profil">
              <i class="fas fa-user-circle"></i>
              <p><%= @user.biograophy %></p>
            </div>
          </div>
          <div class="info-contact">
            <div class="info">
              <h4>Mes infos</h4>
              <p><i class="far fa-user"></i><%= @user.username %></p>
              <p><i class="far fa-envelope"></i><%= @user.email %></p>
              <p><i class="fas fa-flag"></i> <%= @user.nationality %></p>
              <p><i class="fas fa-birthday-cake"></i> <%= @user.age %> ans</p>
              <p><i class="fas fa-map-marker-alt"></i><%= @user.address %></p>
              <%= simple_form_for @user do |f| %>
                <!-- [...] -->
                <%= f.input :cv %>
                <%= f.input :cv_cache, as: :hidden %>
                <%= f.button :submit %>
                <!-- [...] -->
              <% end %>
              <div class="profil-btns d-flex justify-content-around">
              <button type="button" class="button">Éditer</button>
              <button type="button" class="btn btn-outline-secondary">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <% if current_user == @user %>
          <div class="mission d-flex justify-content-between">
            <div class="favorite flex-fill">
              <h3> <i class="fas fa-heart"></i>Mes annonces sauvegardées </h3>
              <div class="favorite-jobs">
                <% @favorites.each do |favorite| %>
                  <%= render "components/mini_card", job: favorite.job, favorite: favorite, mission: nil %>
                <% end %>
              </div>
            </div>
            <div class="my-missions">
              <h3><i class="fas fa-arrow-circle-right"></i>Mes candidatures</h3>
              <div class="mission-jobs">
                <% @missions.each do |mission| %>
                  <%= render "components/mini_card", job: mission.job, mission: mission, favorite: nil %>
                <% end %>
              </div>
            </div>
          </div>


          <div class="my-experiences">
            <h3><i class="fas fa-user-tie"></i>   Expériences professionnelles</h3>
            <p>Dernière expérience enregistrée</p>
            <div class="alumnus-experience">
              <div class="experience-img">
                <%= image_tag @user.work_experiences.last.photo %>
              </div>
              <div class="experience-details">
                <p class="experience-title"><%= @user.work_experiences.last.poste_intitulé %></p>
                <p class="experience-corp-name"><%= @user.work_experiences.last.entreprise %>, <%= @user.work_experiences.last.durée %> mois</p>
                <p class="experience-dates"><%= @user.work_experiences.last.description %></p>
              </div>
            </div>
            <button id="button-toogle-work-experiences" class="btn btn-flat deroulable d-flex justify-content-center mt-3">
              Voir toutes les expériences de <%= @user.first_name %>
            </button>
            <%= render "work_experiences/show" %>
            </div>

            <!-- simple form pour ajouter une work experience -->
            <%= simple_form_for(@work_experience) do |f| %>
              <%= f.input :entreprise %>
              <%= f.button :submit %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</div>
